In [24]:
import pandas as pd
import numpy as np

#Import MTurk raw CSV and make DF
turk = pd.read_csv('Batch_3184697_batch_results_edit.csv')

# Make basic DF to get rid of unneeded cols
basic = turk[['Input.WORDS','Answer.categories']].copy()
basic.columns = ['words', 'size']

basic.sort_values(by=['words'], ascending=[True]).head(15)

             words  size
2544      Aardvark     6
1915      Aardvark     5
1749      Aardvark     5
1677      Aardwolf     6
155       Aardwolf     6
3285      Aardwolf     5
3316   Accelerator     4
1476   Accelerator     7
829    Accelerator     8
99         Account     1
1630       Account     7
3561       Account     3
1385  Address Book     2
2525  Address Book     4
3726  Address Book     5

In [30]:
top = basic.groupby(['words'])['size'].max()
bot = basic.groupby(['words'])['size'].min()

print('Ranges of responses')
print(top-bot[top-bot > 3].astype(int))

Ranges of responses
words
Aardvark               NaN
Aardwolf               NaN
Accelerator            4.0
Account                6.0
Address Book           NaN
African Buffalo        NaN
African Elephant       4.0
African Leopard        4.0
African Wild Dog       NaN
Air Freshener          5.0
Airplane               NaN
Airport                NaN
Alarm                  NaN
Alarm Clock            NaN
Albatross              5.0
Albertosaurus          NaN
Alligator              NaN
Allosaurus             NaN
Alpaca                 NaN
American Bison         6.0
American Black Bear    NaN
American Robin         4.0
Anaconda               NaN
Angelfish              NaN
Angle                  NaN
Anglerfish             NaN
Ankylosaurus           6.0
Ant                    7.0
Anteater               NaN
Antelope               NaN
                      ...
Windshield Wiper       NaN
Wing                   NaN
Wire                   NaN
Withdraw               NaN
Wolf                   NaN
Wolverine              NaN
Wombat                 NaN
Wood Lemming           5.0
Woodchuck              NaN
Woodpecker             NaN
Woods                  NaN
Woolly Dormouse        NaN
Woolly Hare            NaN
Woolly Mammoth         NaN
Woolly Rhinoceros      NaN
Worm                   NaN
Wren                   6.0
Wrench                 NaN
X-ray Fish             NaN
Yak                    NaN
Yapok                  NaN
Yellow Jacket          NaN
Yellow Perch           NaN
Zebra                  5.0
Zebra Duiker           5.0
Zebra Finch            NaN
Zebra Shark            NaN
Zebu                   NaN
Zipper                 6.0
Zorilla                NaN
Name: size, dtype: float64

In [21]:
# Write out CSV of Words:Sizes
# outfile.to_csv("new_corpus.csv", sep='\t')

In [ ]:
### Junk


"""
df2 = basic.pivot(index='words',
                    columns='size',
                    values='size')
print(basic.groupby("words").sum())



print(basic)
basic.sort_values(by=['Input.WORDS','Answer.categories'], ascending=[True, True])

basic.loc[:,'size'].to_replace('category ')
basic["size"].str.replace('category ', '', n=-1)

"""